@import "bootstrap/dist/css/bootstrap.min.css";

body {
    background: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

p {
    font-family: cursive;
    font-size: 2rem
}